

.post {
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 60%;
    margin: 10px auto;
    min-width: 300px;
    transition: transform 0.3s;
    color: black;
}

.dark .post{
    color: white!important;
}

    .post:hover {
        color: black;
        text-decoration: none;
    }

    .post:active {
        color: black;
        text-decoration: none;
    }

.post.sm {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    height: 0;
}

.post p {
    text-align: right;
    margin-bottom: 0;
}

.dark .post {
    background-color: #1c1c1c;
    box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.24);
}

.post * {
    /*pointer-events: none;*/
}

#postModal img {
    max-width: 100% !important;
}

#openPost, #copyM {
    display: none;
}

.Post {
    margin: 30px;
    max-width: 100%;
}

.Post * {
    max-width: 100%;
}


