
.disMsg {
  background: rgb(242, 242, 242);
  color: #36393e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 310px;
}

.formInput {
  resize: none;
  padding:4px;
  background: rgb(231, 230, 230);
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
  outline: none;
  width: 300px;
  transition: 0.2s;
}

.wrongInput {
  border-color: rgb(195, 54, 54);
  border-style: solid;
  border-width: 2px;
  background: rgba(195, 54, 54, 0.47);
}

.formErrorMsg {
  color: rgb(195, 54, 54);
}
