#mainHeader {
  height: 100vh;
  position: relative;
}

#mainHeader header {
  background-color: var(--mainColor);
  height: 70px;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 3px 0 black;
  color: white;
}
