
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 100vw;
  font-size: 20px;
}

* {
  font-family: 'Roboto', sans-serif;
}

.mainHeader {
  width: 100%;
  height: 60px;
  background-color: var(--mainColor);

}

.mainHeader .av {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.mainHeader div {
  display: inline-block;
  color: white;
  font-size: 40px;
  height: 60px;
  vertical-align: top;
  margin: 0;
}

.mainHeader div p {
  margin: 0;
  align-self: center;
}

.mainNav {
  background-color: rgb(122, 122, 122);
  margin: 0;
}

.wrapper {
  background-color: var(--navColor);
  filter: drop-shadow();
}

.card {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  height: 150vh;
  position: relative;
}

.content {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  /* max-width: 1200px; */
  margin: 0 auto;
  box-shadow: 0 0 7px 0 black;
  padding: 5px;

  background-color: white;

  /* z-index: 1; */
}


footer {
  height: 300px !important;
  color: white;
}

footer .content {
  background-color: var(--accentColor);


}

footer ul {
  list-style-type: none;
  max-width: 300px;
  margin-right: 15px;
}

footer li {
  background-color: var(--shadowColor);
  border-radius: 5px;
  width: auto;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 3px 3px 5px 0 black;
  transition: box-shadow 0.1s;
}

footer li:hover {
  box-shadow: 5px 5px 8px 0 black;
}

footer li:active {
  box-shadow: 0px 0px 2px 0 black;
}

footer li * {
  display: inline;
}

.mb-scene * {
  outline: 0px;
}

.mb-scene:active * {
  outline: 0px;
}
