* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 100vw;
  font-size: 20px;
  height: 100%;
  overflow: hidden;
  background-color: var(--navColor);
}

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(158, 0, 255);
  background-image: linear-gradient(var(--navColor), var(--accentColor));
  z-index: 1000000;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#loading #spinner {
  width: 50px;
  height: 50px;
  margin: 0 auto;

}

#loading #spinner div {
  border: 4px solid transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: white;
  border-image-source: url(./../img/other/spinner.svg);
  border-image-width: 100%;
  border-image-slice: 50%;
  display: block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

#pages {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw !important;
  min-height: 100vh;
}

.mainNav {
  background-color: rgb(122, 122, 122);
  margin: 0;
}

.wrapper {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 55%;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

.activeWrapper {
  position: absolute;
  left: 0;
  opacity: 1;
  pointer-events: all;
}


/* #home {
  left: 0;
  opacity: 1;
  position: static;
} */

.card {
  margin-top: 25px;
  width: 100vw;
  min-height: 100vh;
  position: relative;

}

.content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 7px 0 black;
  padding: 0;
  background-color: white;
  transition: 0.2s;
}

.bgCard {
  bottom: 0;
  position: fixed;
  transform: scale(0.9);
  box-shadow: '0 0 5px 0 black';
}


footer.card {
  min-height: 310px !important;
  max-height: 310px;
  min-height: 310px;
  color: white;
}

footer.card .content {
  padding-top: 5px;
  min-height: 310px;
  max-height: 310px;
  background-color: var(--accentColor);

}

footer.card ul {
  list-style-type: none;
  max-width: 300px;
  margin-left: 20px;
  margin-right: 15px;
}

footer.card li {
  background-color: var(--shadowColor);
  border-radius: 5px;
  width: auto;
  padding: 10px;
  margin: 10px auto;
  transition: background-color 0.1s;
}

footer.card li:hover {
  background-color: rgba(0, 0, 0, 0.64)
}

footer.card li:active {
  background-color: rgba(0, 0, 0, 0.3)
}

footer.card li * {
  display: inline;
}

.mainHeader {
  width: 100%;
  height: 100vh;
  background-color: var(--mainColor);
}

.mainHeader section {
  position: relative;
  height: 100vh;
}

#mhLogoBackground {
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 250px;
  box-shadow: var(--hShadow);
}

#headerLogo {
  width: 200px;
  height: 200px;
  left: calc(50vw - 100px);
  top: 25px;
  position: absolute;
  background-size: contain;
  background-image: url(./../img/e.png);
}

#qHeadOverview {
  padding: 10px;
  text-align: center;
}

/* My projects */

#myProjects {
  min-height: 100vh;
}

#myProjects .title {
  background-color: var(--accentColor);
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: normal;
  box-shadow: var(--hShadow)
}

.mb-scene * {
  outline: 0px;
}

.mb-scene:active * {
  outline: 0px;
}

#scrUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(147, 147, 147, 1);
  border: solid white 2px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.43);
  opacity: 0.85;
  transition: 0.3s;
  z-index: 30;
  opacity: 0;
  pointer-events: none;
}

#scrUp:active {
  background-color: rgba(103, 100, 100, 1);
}

.eif div {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  z-index: 20;
}
