* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 100vw;
  font-size: 20px;
  height: 100%;
  overflow: hidden;
  background-color: var(--navColor);
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(158, 0, 255);
  background-image: linear-gradient(var(--navColor), var(--accentColor));
  z-index: 1000000;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#loading #spinner {
  width: 50px;
  height: 50px;
  margin: 0 auto;

}

#loading #spinner div {
  border: 4px solid transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: white;
  border-image-source: url(./../img/other/spinner.svg);
  border-image-width: 100%;
  border-image-slice: 50%;
  display: block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

.mainHeader {
  width: 100%;
  height: 100vh;
  background-color: var(--mainColor);
  margin-top: -5px;
}

.mainHeader section {
  position: relative;
  height: 100vh;
}

#mhLogoBackground {
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 250px;
  box-shadow: var(--hShadow);
}

#headerLogo {
  width: 200px;
  height: 200px;
  left: calc(50vw - 100px);
  top: 25px;
  position: absolute;
  background-size: contain;
  background-image: url(./../img/e.png);
}

#qHeadOverview {
  padding: 10px;
  text-align: center;
}

/* My projects */

#myProjects {
  min-height: 100vh;
}

#myProjects header {
  background-color: var(--accentColor);
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: normal;
  box-shadow: var(--hShadow)
}

.mainNav {
  background-color: rgb(122, 122, 122);
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 55%;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

#pages {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

/* #home {
  left: 0;
  opacity: 1;
  position: static;
} */

.card {
  margin-top: 25px;
  width: 100vw;

  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 7px 0 black;
  padding: 0;
  background-color: white;
}


footer {
  min-height: 310px !important;
  max-height: 310px;
  min-height: 310px;
  color: white;
}

footer .content {
  padding-top: 5px;
  min-height: 310px;
  max-height: 310px;
  background-color: var(--accentColor);

}

footer ul {
  list-style-type: none;
  max-width: 300px;
  margin-left: 20px;
  margin-right: 15px;
}

footer li {
  background-color: var(--shadowColor);
  border-radius: 5px;
  width: auto;
  padding: 10px;
  margin: 10px auto;
  transition: background-color 0.1s;
}

footer li:hover {
  background-color: rgba(0, 0, 0, 0.64)
}

footer li:active {
  background-color: rgba(0, 0, 0, 0.3)
}

footer li * {
  display: inline;
}

.mb-scene * {
  outline: 0px;
}

.mb-scene:active * {
  outline: 0px;
}

#scrUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(147, 147, 147, 1);
  border: solid white 2px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.43);
  opacity: 0.85;
  transition: 0.3s;
  z-index: 30;
  opacity: 0;
  pointer-events: none;
}

#scrUp:active {
  background-color: rgba(103, 100, 100, 1);
}

.eif-slider {
  background-color: black;
  position: relative;
  clear: both;
  width: 100%;
  height: 200px;
}

.eif-slider section {
  width: 100%;
  left: 50%;
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 5;
  opacity: 0;
  transition: 0.5s;
}

.eif-slider .onleft {
  left: -50%;
}

.eif-slider .active {
  left: 0;
  opacity: 1;
}

.eif-slider img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 10;
}

.eif div {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  z-index: 20;
}

.eif-slider-controls {
  top: 0;
  left: 0 !important;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.eif-slider-controls button {
  height: 100%;
  width: 30%;
  background-color: transparent;
  border: none;
  outline-width: 0;
  transition: background 0.2s;
}

.eif-slider-controls button:hover {
  background-color: rgba(0, 0, 0, 0.38);
}

.eif-slider-left {
  float: left;
}

.eif-slider-right {
  float: right;
}

.eif-slider-indicator {
  display: flex;
  justify-content: center;
  height: 20px;
  left: 0;
  padding: 0 auto;
  bottom: 0;
  margin: 0;
  position: absolute;
}

.eif-slider-indicator-element {
  height: 100%;
  width: 20px;
  float: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.eif-slider-indicator-element div {
  width: 8px;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - (8px / 2));
  top: calc(50% - (8px / 2));
  content: 'a';
  min-height: 8px;
  clear: both;
  background-color: white;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.eif-slider-indicator-element.active div {
  opacity: 1;
}
