.post {
    padding: 5px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 60%;
    margin: 10px auto;
    min-width: 300px;
}

.post * {
    /*pointer-events: none;*/
}

#openPost, #copyM {
    display: none;
}