a.card {
    color: black;
}

.contact-card {
    padding: 3px;
    magin: 5px;
}

.contact-card div {
    display: inline-block;
}
.fa-twitter {
    color: #2e6da4;
}

.fa-keybase {
    color: #ec971f;
}

.contact-card .card-icon {
    margin: 0 15px;
    font-size: 300%;
}

.contact-card .card-title {
    margin: 0;
}


@media screen and (min-width: 600px) {
    #contactPane {
        width: 60%;
        margin: 0 auto;
    }
}