#basicInfo {
    /*width: 100%;*/
    min-height: calc(100vh - 70px);
    text-align: center;
    position: relative;
    background-image: url("../img/backgrounds/low-poly-purple-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0 0 10px #000;

}

#home-projects{

    min-height: calc(100vh - 70px);
}

.scrInd {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.scrInd button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    position: relative;
}

.scrInd button * {
    min-width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    animation: scrDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes scrDown {
    0% {
        top: 0;
    }
    50% {
        top: 10%;
    }
    100% {
        top: 0;
    }
}

.card {
    margin: 10px auto;
}

.card-img-top {
    background-color: #868e96;
}