#basicInfo {
    /*width: 100%;*/
    padding: 20px;
    margin: 5px;
    min-height: calc(100vh - 70px);
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.075);
    text-align: center;
    position: relative;
    background-image: url("../img/backgrounds/low-poly-purple-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}



.scrInd {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.scrInd button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    position: relative;
}

.scrInd button * {
    min-width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    animation: scrDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes scrDown {
    0% {
        top: 0;
    }
    50% {
        top: 10%;
    }
    100% {
        top: 0;
    }
}